/*
 1. posicionamiento
 2. Modelo caja (box model)
 3. Tipografia
 4. Visuales
 5. Otros
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
   --color-text: #0B0C0D;
   --linedown-color: #D0EAEC;
   --secundary-linedown-color:  #fdd7cd;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

header nav .nav-right-section{
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

 header nav .nav-right-section a{
    margin-right: 30px;
    color: #3D3E40;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.nav--email-section {
    text-decoration: none;
    color: #3D3E40;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding-right: 10px;
}

#diferent-a {
    padding-right: 0;
    margin-right: 0;
}

.nav--email-section span {
    background-image: url("./icons/email.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 30px;
    padding-left: 20px;
}

main {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    overflow: hidden;
}

.main--img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main-up-p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.7rem;
    padding-top: 15px;
}

.main-up-p img {
    width: 20px;
    height: 20px;
}

.main-center-p {
    font-size: 6rem;
    font-weight: bold;
    line-height: 7rem;
    padding-top: 26px;
    letter-spacing: -4px;
}

.overflow-building {
    position: relative;
    overflow: hidden;
    width: 231px;
    height: 20px;
    bottom: 148px;
    left: -77px;
    margin: 0 auto;
}

.Building-linedown {
    position: relative;
    width: 276px;
    height: 53px;
    background-color: transparent;
    border-radius: 100%;
    border: 7px solid #AEBFF2;
    right: 29px;
}

.main-down-p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding-top: 26px;

}

 .main-button {
    margin-top: 26px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px;
    font-size: 1rem;
}

.main-button:hover {
    background: linear-gradient(208.83deg, black 20%,blue 100%);
}

.main-button:focus {
    outline: none;
}

.section-imgs {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: auto;
    width: 100%;
    min-width: 320px;
}

.size-imgs-1 {
    width: 460px;
    height: 200px;
    padding:  0px 16px 16px 16px;
    cursor: pointer;
}

.size-imgs-2 {
    width: 460px;
    height: 230px;
    padding: 0px 16px;
    cursor: pointer;

}
.size-imgs-4 {
    width: 454px;
    height: 281px;
    padding:  0px 16px 16px 16px;
    cursor: pointer;
}
.size-imgs-5 {
    width: 451px;
    height: 152px;
    padding: 0px 16px;
    cursor: pointer;
}

.img-center {
    width: 380px;
    height: 432px;
    cursor: pointer;
}

.section-clients {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
}

.container--linedown-clients {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 100px;
}

.linedown-clients {
    background-color: transparent;
    border: 4px solid var(--secundary-linedown-color);
    border-radius: 100%;
    position: absolute;
    width: 313px;
    height: 225px;
    top: 26px;
    left: -107px;
}

.icon-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 26px 26px 26px;
}
.section-clients h2 {
    font-size: 3.1rem;
    line-height: 3.2rem;
    font-weight: bold;
    letter-spacing: -2px;
}

.container-clients-img {
    display: flex;
    justify-content: center;
    width: 120px;
    margin: 26px 75px 0px  75px;
    -webkit-filter:grayscale(1);
    filter: #949AA6;
    align-items: center;
    height: 63px;
}

.container-clients-img:hover {
    box-shadow: 0px 1px 6px 0 #20212447;
    border-radius: 50px;
    -webkit-filter:none;
    filter: none;
}

.icons {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 54px;
    cursor: pointer;
}

.container-clients-img .google-icon {
    background-image: url("./icons/google-2015.svg");
}

.container-clients-img .uber-icon {
    background-image: url("./icons/uber-2.svg");
}

.container-clients-img .slack-icon {
    background-image: url("./icons/slack-2.svg");
}

.container-clients-img .duck-icon {
    background-image: url("./icons/duckduckgo.svg");
}

.section-services  {
    display: flex   ;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 650px;
    min-width: 320px;
    margin: 190px auto;
}
.background-services {
    display: inline-block;
    width: 60%;
    max-width: 864px;
    background-color: #F4F6FB;
    height: 600px;
    position: absolute;
    overflow: hidden;
}

.service-container {
    width: 100%;
    height: auto;
    display: block;
    align-content: center;
    position: relative;
}

.title-service {
    font-size: 4rem;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 69px;
    letter-spacing: -2px;
}

.circle {
    background-color: transparent;
    border: 2px solid #d6d3d3;
    border-radius: 100%;
    position: relative;

}

.position-one {
    bottom: 20%;
    right: -73%;
    width: 750px;
    height: 750px
}

.position-two {
    top: -100%;
    left: -70%;
    width: 800px;
    height: 850px;
}

.linedown-service {
    background-color: transparent;
    border: 4px solid #AEBFF2;
    border-radius: 100%;
    position: absolute;
    width: 371px;
    height: 204px;
    top: 41px;
    left: -106px;
}

.service-title-container {
    position: relative;
    width: 163px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.container-targets {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    text-align: left;
}

.target-service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 330px;
    height: 336px;
}

.target-service:nth-child(-n+2) {
    margin-right: 70px;
}

.target-service--img {
    width: 100%;
    padding-left: 33px;
}

.target-service--title {
    text-align: left;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color-text);
    width: 100%;
    padding-top: 44px;
    padding-left: 33px;
}

.target-service-p {
    padding: 29px 33px;
    font-size: 1.7em;
    color: var(--color-text);
    opacity: .8;
}

.section-personal-infomation {
    width: 100%;
    height: auto;
}

.section-personal-infomation--resume {
    position: relative;
    text-align: left;
    overflow: hidden;
}

.backgrounds {
    width: 319px;
    height: 61px;
    bottom: -49px;
    left: -64px;

}

.personal-information--title {
    font-size: 3.2rem;
    letter-spacing: -1px;
}

.overflow-hidden {
    overflow: hidden;
    position: relative;
    height: 95px;
    width: 254px;
}

.two-hidden {
    width: 163px;
}

.skills-hidden {
    width: 90px;
}

.linedown {
    position: absolute;
    background-color: transparent;
    border: 4px solid var(--linedown-color);
    border-radius: 100%;
}

.line-background {
    width: 530px;
    height: 111px;
    left: -155px;
    top: 35px;
}

.line-background-red {
    border-color: var(--secundary-linedown-color);
    width: 300px;
    height: 84px;
    left: -88px;
    top: 33px;
}

.line-skills-background {
    width: 170px;
    height: 93px;
    left: -44px;
    top: 33px;
}

.courses-background {
    border-color: var(--secundary-linedown-color);
    width: 514px;
    height: 120px;
    left: -170px;
    top: 33px;
}

.section-personal-infomation--resume h2 {
    font-size: 5.5rem;
    letter-spacing: -4px;
    padding-right: 695px;
}

.container-targets-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.personal-infomation {
    display: flex;
    justify-content: center;
    width: 100%;
}



.experience--information {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    text-align: left;
}

.experience--information:nth-child(2) {
    margin-left: 290px;
}

.skills-courses-information {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    text-align: left;
    /* padding-right: 117px; */
    /* padding-left: 150px; */
}

.skills-courses-information:first-child{
    padding-right: 233px;
}

#skill-padding {
    padding-right: 0px;
    position: relative;
    right: 264px;
}

.skills-courses-information:nth-child(2){
    position: relative;
    right: 85px;
}

.personal-infomation .title {
    padding-bottom: 19px;
    font-size: 2.3rem;
    font-weight: 600;
}

.title:nth-child(1) {
    padding-bottom: 41px;
}

.development-container {
    display: flex;
}

.development-container-one {
    margin-right: 106px;
}

.development-container-two {
    margin-left: 18px;
}

.development-container--p {
    font-size: 1.6rem;
    padding-bottom: 28px;
}

.personal-infomation .subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.personal-infomation .dates {
    font-size: 1.4rem;
    padding-bottom: 51px;
    color: #464C59;
}

.title span {
    background-image: url("./icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-left: 20px;
}

.tools-section-circles {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    text-align: left;
    position: relative;
    right: 400px;
}

.big-circle {
    background-color: #EAF9FA;
    border-radius: 100%;
    width: 630px;
    height: 644px;
    position: absolute;
    top: -96px;
    bottom: 0px;
    left: 291px;
}

.small-circle {
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #DEF2F4;
    position: absolute;
    width: 632px;
    height: 666px;
    top: -15px;
    left: 202px;
}

.tools-information--right{
    position: absolute;
    top: 144px;
    left: 190px;
}

.information-right--p {
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 6rem;
    color: var(--color-text);
    text-decoration: none;
}

.information-right--p:focus {
    outline: none;
}

.information-right--p hr {
    border: 2px solid black;
    width: 195px;
}

.Catchas {
    font-family: "Marck Script", cursive;
    font-size: 3.5rem;
    color: #9DCBCF;
    transform: rotate(-7deg);
    padding-bottom: 20px;
}

.container-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 327px auto 0px;
    text-align: left;
}

.text-aling {
    margin-top: 152px;
}


.container-business-title h2 {
    font-size: 4rem;
    letter-spacing: -2px;
    margin-bottom: 70px;
    padding-right: 669px;
}

.overflow-busisness {
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 20px;
    bottom: 79px;
    left: 75px;
}

.busisness-linedown {
    position: relative;
    width: 225px;
    height: 49px;
    background-color: transparent;
    border-radius: 100%;
    border: 4px solid var(--secundary-linedown-color);
    right: 28px;
}

.linedown-align {
    border-color: var(--linedown-color);
}

.overflow-align {
    left: 125px;
}

.container-targets-busisness {
    display: flex;
}

.container-business-target {
    width: 506px;
    height: auto;
}

.container-business-target:nth-child(2) {
    margin-top: 170px;
}

.container-business-target:first-child{
    margin-right: 38px;
}

.target-one-point-one h2 {
    margin-top: 33px;
    font-size: 2.1rem;
}

.target-one-point-one p {
    margin: 26px 0px 70px;
    font-size: 1.6rem;
}

.button-target-a {
    font-size: 1.3rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 35px;
    padding: 26px;
    margin-top: 73px;
}

.button-target-a:focus {
    outline: none;
}

.button-target-a:hover{
    background: linear-gradient(208.83deg, black 20%,blue 100%);
}
